@model GastroAvancesWeb.Models.retiro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>retiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad_inicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad_inicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad_retirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad_retirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad_final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad_final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_productoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_productoNavigation.id_producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_usuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_usuarioNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_retiro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
